@font-face
  font-family: 'Acropolis'
  src: url('assets/fonts/Acropolis/Acropolis-HTF-Black.woff2') format('woff2')
  src: url('assets/fonts/Acropolis/Acropolis-HTF-Black.woff') format('woff')
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Supercell-Magic'
  src: url('assets/fonts/Supercell-Magic/Supercell-Magic.woff2') format('woff2')
  src: url('assets/fonts/Supercell-Magic/Supercell-Magic.woff') format('woff')
  font-weight: 900
  font-style: normal
  font-display: swap

img
  max-width: 100%
  height: auto

.page
  color: white
  background: linear-gradient(180deg, #6690CF 0%, #154183 100%)
