@font-face
  font-family: 'Montserrat'
  src: url('assets/fonts/Montserrat/Montserrat-Black.ttf')
  font-weight: 900
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('assets/fonts/Montserrat/Montserrat-ExtraBold.ttf')
  font-weight: 800
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('assets/fonts/Montserrat/Montserrat-SemiBold.ttf')
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('assets/fonts/Montserrat/Montserrat-Medium.ttf')
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf')
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Acropolis'
  src: url('assets/fonts/Acropolis/Acropolis-HTF-Black.woff2') format('woff2')
  src: url('assets/fonts/Acropolis/Acropolis-HTF-Black.woff') format('woff')
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Supercell-Magic'
  src: url('assets/fonts/Supercell-Magic/Supercell-Magic.woff2') format('woff2')
  src: url('assets/fonts/Supercell-Magic/Supercell-Magic.woff') format('woff')
  font-weight: 900
  font-style: normal
  font-display: swap

img
  max-width: 100%
  height: auto

body
  font-weight: 500
  font-family: "Montserrat", "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif

.page
  color: white
  background: linear-gradient(180deg, #6690CF 0%, #154183 100%)
  max-width: 450px
  margin: 0 auto

.page__header
  margin-bottom: 8px

.pagination
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 7px

.pagination__bullet
  display: inline-block
  width: 15px
  height: 15px
  background-color: #D9D9D9
  border-radius: 50%
  cursor: pointer

.pagination__bullet_active
  background: #A0A0A0

.badge
  background: #4C3A3A

  &_squared
    aspect-ratio: 1 / 1

.q-card
  color: black

.slider
  font-size: 1rem

.slider__pagination
  margin-bottom: 19px

.slider__navigation-button
  position: absolute
  top: calc(50% - 0.5em)
  font-size: 4em
  z-index: 2
  cursor: pointer

.slider__navigation-button_prev
  left: 0

.slider__navigation-button_next
  right: 0
